.App {
  text-align: center;

}

h1 {
  font-size: 3rem;
  color: rgb(202, 182, 148);
  text-shadow: 2px 2px 2px rgb(173, 116, 17);
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

nav a {
  margin: 10px;
  color: white;
  font-size: 18px;
}

p.copyright {
  color: white;
  font-size: 12px;
  font-style: italic;
}